<ul class="author-list">
	{% assign author_name = include.author | split: "," %}
	{% assign writers = site.data.authors[include.author] %}
	{% assign author_name_size = author_name | size %}

	{% if author_name_size > 1 %}

	{% else%}
		<li class="author-list-item">
			{% if site.tooltip and site.author_image %}
				<div class="author-name-tooltip">
					{{ writers.name }}
				</div>
			{% endif %}
			
			{% assign author_url = "/author/" %}
			{% include author-icon.html %}
			{% if site.tooltip or site.author_image == false  %}
				<a class="author-profile-name" href="{{ writers.user_name | prepend: author_url | relative_url }}">
					{{ writers.name | truncate: 15 }}
				</a>
			{% endif %}
		</li>
	{% endif %}

</ul>
