{% if site.author_image %}
	{% case site.author_image_placeholder %}
		{% when 'image' | downcase %}
			<a href="{{ writers.user_name | prepend: author_url | relative_url }}" class="static-avatar">
				<img class="author-profile-image" src="{{ writers.image | relative_url }}" alt="{{ writers.name }}" />
			</a>
		{% when 'initial' | downcase %}	
			<a href="{{ writers.user_name | prepend: author_url | relative_url }}" class="static-avatar author-profile-image">
				<span class="author-profile-initial">{{ writers.name | slice: 0 }}</span>
			</a>
		{% when 'avatar' | downcase %}	
			<a href="{{ writers.user_name | prepend: author_url | relative_url }}" class="static-avatar author-profile-image">
				{% include icons/avatar.svg %}
			</a>
		{% else %}
	{% endcase %}
{% endif %}