<article class="post-card">
	<a class="post-card-image-link" href="{{ include.url | relative_url }}">
		<div class="post-card-image" style="background-image: url({{include.image|relative_url}})"></div>
	</a>

	<div class="post-card-content">
		<a class="post-card-content-link" href="{{ include.url | relative_url }}">
			<header class="post-card-header">
				<span class="post-card-category">
					{% assign category = include.category | split: "-" | join: " " %} {{ category }}
				</span>
				<h2 class="post-card-title">{{ include.title | truncatewords: 5, "" }}</h2>
			</header>
			<section class="post-card-description">
				<p>{{ include.description | truncatewords: 40, "" }}</p>
			</section>
		</a>
		<footer class="post-card-meta">

			{% include author.html %}
			
			{% include reading-time.html %}

		</footer>
	</div>
</article>