<footer class="site-footer outer">
	<div class="site-footer-content inner">
		<section class="copyright">
			<a href="{{ '/' | relative_url }}">{{ site.title }}</a>  © {{ "now" | date: "%Y" }}
		</section>
		<nav class="site-footer-nav">
			<ul>
				<li>
					<a href="{{ '/' | relative_url }}">Latest Posts</a>
				</li>

				{% if site.facebook_username %}
					<li>
						<a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" rel="noopener">Facebook</a>
					</li>
				{% endif %}

				{% if site.twitter_username %}
					<li>
						<a href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">Twitter</a>
					</li>
				{% endif %}

				<li>
					<a href="{{ site.url }}" target="_blank" rel="noopener">Jasper</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>
