<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ site.title }}</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">

{% if jekyll.environment == "production" %}

  {% if google_analytics %}
    {% include vendor/google_analytics.html %}
  {% endif %}

  {% if disqus %}
    {% include vendor/disqus.html %}
  {% endif %}

{% endif %}
