<nav class="site-nav">
  <div class="site-nav-left">
    {% if homepage == false %}
      <a class="site-nav-logo" href="{{ '/' | relative_url }}">
        {% if site.logo %}
          <img src="{{ site.logo | relative_url}}" alt="{{ site.title }} Logo" />
        {% else %}
          <h1>
            {{ site.title }}
          </h1>
        {% endif %}
      </a>
    {% endif %}
    {% include navlink.html %}
  </div>

  <div class="site-nav-right">
    <div class="social-links">
      {% if site.facebook_username %}
        <a class="social-link social-link-fb" href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank" rel="noopener">
          {% include icons/facebook.svg %}
        </a>
      {% endif %}
      {% if site.twitter_username %}
        <a class="social-link social-link-tw" href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">
          {% include icons/twitter.svg %}
        </a>
      {% endif %}
    </div>
    {% if site.subscribe %}
      <a class="subscribe-button" href="#subscribe" onClick="show_subscribe_overlay()">Subscribe</a>
      {% include subscribe-overlay.html %}
    {% else %}
      <a class="rss-button" href="{{ '/feed.xml' | relative_url }}" target="_blank" rel="noopener">
        {% include icons/rss.svg %}
      </a>
    {% endif %}
  </div>
</nav>