<ul class="nav" role="menu">
  <li class="nav-home nav-current" role="menuitem">
    <a href="{{ '/' | relative_url }}">Home</a>
  </li>
  <li class="nav-about" role="menuitem">
    <a href="{{ '/about/' | relative_url }}">About</a>
  </li>
  <li class="nav-getting-started" role="menuitem">
    <a href="{{ '/category/getting-started/' | relative_url }}">Getting Started</a>
  </li>
  <li class="nav-try-ghost" role="menuitem">
    <a target="_blank" href="{{ site.url }}">Try Jasper</a>
  </li>
</ul>
