<article class="read-next-card" style="background-image: url({{site.cover_image|relative_url}})">

	<header class="read-next-card-header">
		<small class="read-next-card-header-sitetitle">&mdash; {{ site.title }} &mdash;</small>
		<h3 class="read-next-card-header-title">
			<a href="{{ page.category | prepend: "/category/" | relative_url }}">{% assign category = page.category | split: "-" | join: " " %}{{ category | capitalize }}</a>
		</h3>
	</header>

	<div class="read-next-divider">{% include icons/infinity.svg %}</div>
	
	<div class="read-next-card-content">
		<ul>
			{% assign number_of_category_post = 0 %}
			{% for category in site.categories.[page.category] %}
				{% unless category.title == page.title %}
					<li>
						{% assign number_of_category_post=number_of_category_post | plus: 1 %}
						<a href="{{ category.url | relative_url}}">{{ category.title }}</a>
					</li>
				{% endunless %}
			{% endfor %}
		</ul>
	</div>
	
	<footer class="read-next-card-footer">
		<a href="{{ page.category | prepend: "/category/" | relative_url }}">
			{% if number_of_category_post > 0 %}
				See all {{number_of_category_post }} posts →
			{% else %}
				See all posts →
			{% endif %}
		</a>
	</footer>

</article>