{% assign writer = site.data.authors[page.author] %}
<section class="author-card">

  {% assign author_url = "/author/" %}
  {% include author-icon.html %}

  <section class="author-card-content">
    <h4 class="author-card-name">
      <a href="{{ writer.user_name | prepend: author_url | relative_url }}">{{ writer.name }}</a>
    </h4>

    {% if writer.bio %}
      <p>{{ writer.bio }}</p>
    {% else %}
      <p>Read <a href="{{ writer.user_name | prepend: author_url | relative_url }}">more posts</a> by this author.</p>
    {% endif %}

  </section>
</section>
<div class="post-full-footer-right">
  <a class="author-card-button" href="{{ writer.user_name | prepend: author_url | relative_url }}">Read More</a>
</div>
