<form method="post" action="/subscribe/">
  <div class="form-group">
    <input class="subscribe-email" type="email" name="email" placeholder="youremail@example.com">
  </div>
  <button type="submit">
    <span>Subscribe</span>
  </button>
</form>