---
layout: default
---

<body class="post-template">
	<div class="site-wrapper">
		{% assign homepage = false %}
		<header class="site-header outer">
			<div class="inner">
				{% include navbar.html %}
			</div>
		</header>
		<main id="site-main" class="site-main outer">
			<div class="inner">
				<article class="post-full post">

					<header class="post-full-header">
						<h1 class="post-full-title">{{ page.title }}</h1>
					</header>

					<section class="post-full-content">
						{{ content }}
					</section>

				</article>
			</div>
		</main>

		{% include footer.html %}
	</div>
</body>